@media (max-width: 1250px) {
  .wrap {
    width: 90%;
    margin: 0 auto;
  }
  .banner h1 {
    width: 100%;
    font-size: 35px;
    text-align: center;
    margin: 33px auto;
  }
  .card {
    width: 16.8%;
    margin: 1.45%;
  }
  .card p {
    width: 90%;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .articles {
    width: 65%;
  }
  .articles article {
    width: 97%;
  }
  .footer .wrap > div {
    width: 24%;
  }
  .footer .browsers img {
    width: 14%;
  }
  .footer h5 {
    font-size: 30px;
  }
}
@media (max-width: 1080px) {
  .card .category {
    font-size: 17px;
  }
  .description {
    font-size: 13px;
  }
  .articles {
    width: 61%;
  }
}
@media (max-width: 970px) {
  .articles {
    width: 59%;
  }
  .footer h5 {
    font-size: 22px;
    height: 40px;
    line-height: 45px;
  }
  div > p > img {
    width: 90%;
  }
  .footer .wrap > div {
    width: 26%;
    margin: 20px;
  }
  .footer ul {
    font-size: 20px;
  }
}
@media (max-width: 925px) {
  .aside {
    width: 25%;
  }

  .articles {
    width: 65%;
  }
  .aside input[type="text"] {
    width: 78%;
  }
  .aside-box {
    width: 95%;
    min-height: 140px;
    height: auto;
  }
  .login input[type="email"],
  .login input[type="password"] {
    width: 65%;
  }
  .login .user,
  .login .password {
    margin-left: 24px;
  }
  .login input[type="button"],
  .login input[type="submit"] {
    margin-bottom: 0;
    margin-left: 52px;
  }
  .login input[type="reset"] {
    display: none;
  }
  .login a {
    margin: 10px;
  }
}
@media (max-width: 899px) {
  .aside h3 {
    font-size: 20px;
  }
  .articles h2 {
      font-size: 30px;
  }
}
